#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-row {
  display: flex;
}

.stat {
  margin: 0 10px;
}

label {
  margin-right: 5px;
}

button {
  margin: 0 2px;
}

.weapon-container {
  padding: 20px;
}

.weapon-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weapon-group {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 10px;
}

.weapon-group input[type="radio"] {
  display: none;
}

.weapon-group label {
  display: block;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.weapon-group input[type="radio"]:checked + label {
  background-color: #ddd;
}

.weapon-details {
  margin-top: 20px;
}

.weapon-details h3 {
  margin-bottom: 10px;
}